

  .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3px 4fr;
    font-family: "Fira Sans", sans-serif;
    color: #8c8c8c;
  }

  .timeline__component {
    margin: 0 5px 20px 0;
  }

  .timeline__component--bg {
    margin: 0 0 10px 20px;
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    p, ul{
      pointer-events: none;
    }
  }


  .timeline__component--bottom {
    margin-bottom: 0;
  }

  .timeline__middle {
    position: relative;
    background: #8c8c8c;
  }

  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #8c8c8c;
    border-radius: 50%;
  }

  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }


  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
    overflow: auto;
  }
  .timeline__title--left {
    float: left;
    img {
      width: 15px;
      height: 15px;
      object-fit: contain;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .timeline__title--right {
    float: right;

  }

